.contacts {
    height: 100vh;
    background-color: bisque;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.title {
    background-color: chocolate;
}

.contactForm {
    width: 270px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    justify-content: space-between;

}

.input {
    background-color: #7f979d;
    margin: 2px;
}

.textarea {
    background-color: #7f979d;
    margin: 2px;
}